.contact-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background-color: $secondary-color;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-top: 140px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 80px;

  &:hover {
    transform: translateY(-5px);
  }

  .contact-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .contact-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: $font-color;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;

    .form-group {
      margin-bottom: 1.5rem;

      label {
        margin-bottom: 0.5rem;
        font-weight: 600;
        color: $font-color;
        display: block;
        font-size: 1.1rem;
      }

      input,
      textarea {
        background-color: #ddd;
        width: 90%;
        padding: 0.85rem 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 1rem;
        transition: border-color 0.3s, box-shadow 0.3s;
        color: #333;

        &:focus {
          border-color: $accent-color;
          outline: none;
          box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
        }
      }

      textarea {
        resize: vertical;
        height: 180px;
      }
    }

    .form-submit-button {
      padding: 1rem 1.5rem;
      background-color: $accent-color;
      color: white;
      text-transform: uppercase;
      border: none;
      border-radius: 8px;
      font-size: 1.1rem;
      cursor: pointer;
      margin-top: 1.5rem;
      transition: background-color 0.3s, box-shadow 0.3s;

      &:hover {
        background-color: $darker-green-color;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

      &:active {
        background-color: $accent-color;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
